In [3]:
import pandas as pd
import numpy as np
import os
import json
import ast 
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots

In [4]:
PATH_IN = './MovieSummaries/'

def OpenDf(PATH) :
    '''
    This function opens the dataframes stored in the file with location PATH
    '''
    
    character_file = os.path.join(PATH_IN, 'character.metadata.tsv')
    movie_file = os.path.join(PATH_IN, 'movie.metadata.tsv')
    name_file = os.path.join(PATH_IN, 'name.clusters.txt')
    plot_file = os.path.join(PATH_IN, 'plot_summaries.txt')
    tvtrop_file = os.path.join(PATH_IN, 'tvtropes.clusters.txt')

    movie_col= ["Wikipedia movie ID","Freebase movie ID","Movie name","Movie release date",
                 "Movie box office revenue","Movie runtime","Movie languages","Movie countries",
                 "Movie genres"]

    character_col = ["Wikipedia movie ID","Freebase movie ID","Movie release date","Character Name","Actor DOB",
             "Actor gender","Actor height","Actor ethnicity","Actor Name",
             "Actor age at movie release","Freebase character map"]
    name_col = ["Character Name","Freebase character map ?"]

    plot_col = ["Wikipedia movie ID","Plot"]

    characterDF = pd.read_table(character_file,names=character_col,index_col=False)
    movieDF = pd.read_table(movie_file,names=movie_col,index_col=False)
    nameDF = pd.read_csv(name_file, sep="\t",names=name_col,index_col=False)
    plotDF = pd.read_csv(plot_file, sep="\t",names=plot_col,index_col=False)

    tvtrop_f = open(tvtrop_file)
    lines = tvtrop_f.readlines()
    tvtrop_f.close()
    tvtropDF = pd.DataFrame(columns=["stereotype","char","movie","id","actor"])
    for line in lines:
        char_type,dico = line.split("\t")
        dico = json.loads(dico)
        dico["stereotype"] = char_type
        tvtropDF = pd.concat([tvtropDF,pd.DataFrame([dico])],ignore_index=True)
        
    return characterDF,movieDF,nameDF,plotDF,tvtropDF

characterDF,movieDF,nameDF,plotDF,tvtropDF = OpenDf(PATH_IN)

/var/folders/hn/4082jzls4cjf9jx44thwm_bc0000gn/T/ipykernel_13997/2810662041.py:25: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  characterDF = pd.read_table(character_file,names=character_col,index_col=False)

In [5]:
display(characterDF.head(),movieDF.head(),nameDF.head(),plotDF.head(),tvtropDF.head())

,Wikipedia movie ID,Freebase movie ID,Movie release date,Character Name,Actor DOB,Actor gender,Actor height,Actor ethnicity,Actor Name,Actor age at movie release,Freebase character map
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

  Character Name Freebase character map ?
0  Stuart Little                /m/0k3w9c
1  Stuart Little                /m/0k3wcx
2  Stuart Little                /m/0k3wbn
3       John Doe                /m/0jyg35
4       John Doe                /m/0k2_zn

   Wikipedia movie ID                                               Plot
0            23890098  Shlykov, a hard-working taxi driver and Lyosha...
1            31186339  The nation of Panem consists of a wealthy Capi...
2            20663735  Poovalli Induchoodan  is sentenced for six yea...
3             2231378  The Lemon Drop Kid , a New York City swindler,...
4              595909  Seventh-day Adventist Church pastor Michael Ch...

,stereotype,char,movie,id,actor
0,absent_minded_professor,Professor Philip Brainard,Flubber,/m/0jy9q0,Robin Williams
1,absent_minded_professor,Professor Keenbean,Richie Rich,/m/02vchl3,Michael McShane
2,absent_minded_professor,Dr. Reinhardt Lane,The Shadow,/m/0k6fkc,Ian McKellen
3,absent_minded_professor,Dr. Harold Medford,Them!,/m/0k6_br,Edmund Gwenn
4,absent_minded_professor,Daniel Jackson,Stargate,/m/0k3rhh,James Spader

In [6]:
movieDF['Movie languages']

0        {"/m/02h40lc": "English Language"}
1        {"/m/02h40lc": "English Language"}
2        {"/m/05f_3": "Norwegian Language"}
3        {"/m/02h40lc": "English Language"}
4         {"/m/04306rv": "German Language"}
                        ...
81736    {"/m/02h40lc": "English Language"}
81737    {"/m/02h40lc": "English Language"}
81738    {"/m/02h40lc": "English Language"}
81739     {"/m/03_9r": "Japanese Language"}
81740    {"/m/02h40lc": "English Language"}
Name: Movie languages, Length: 81741, dtype: object

In [7]:
# def split_dict(row):
#     '''
#     This function splits a dictonnary in two distinct lists : list of the keys , list of the values 
#     '''
#     if not row : 
#         keys, values = [], []
#     else : 
#         keys, values = zip(*row.items())
#     return pd.Series({'Keys': list(keys), 'Values': list(values)})

# def MovieDF_Treatment(MovieDF) :
#     '''
#     This function deals with the dataframe MovieDF
#     '''
#     df = MovieDF.copy(deep = True)
#     #Movie languages 
#     df['Movie languages'] = df['Movie languages'].apply(ast.literal_eval)
#     df[['Freebase Language', 'Movie languages']] = df['Movie languages'].apply(split_dict)
    
#     #Movie countrty 
#     df['Movie countries'] = df['Movie countries'].apply(ast.literal_eval)
#     df[['Freebase country', 'Movie countries']] = df['Movie countries'].apply(split_dict)
#     #Movie genres 
    
#     df['Movie genres'] = df['Movie genres'].apply(ast.literal_eval)
#     df[['Freebase genre', 'Movie genres']] = df['Movie genres'].apply(split_dict)
#     return df 


# MovieDF_Treatment(movieDF)

# Estimation of the high-activity periods of time of human race

#### Merge of movie and character datasets as they both have the same column that I am interested in: the release date

In [8]:
# Merge the movie and character data frames on the common columns
movie_characterDF = pd.merge(movieDF, characterDF, on=['Wikipedia movie ID', 'Freebase movie ID'], how='outer')

# Check the number of rows in the merged DataFrame
print("Number of rows in the merged DataFrame:", len(movie_characterDF))

display(movie_characterDF)

Number of rows in the merged DataFrame: 468080

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date_x,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres,Movie release date_y,Character Name,Actor DOB,Actor gender,Actor height,Actor ethnicity,Actor Name,Actor age at movie release,Freebase character map
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw
1,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m
2,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g
3,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6
4,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468075,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""...",2002,NaN,NaN,NaN,NaN,NaN,Billy Morton,NaN,/m/0gchkcy
468076,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""...",2002,NaN,1982-01-28,NaN,NaN,NaN,Andrea Runge,19.0,/m/0gckh4f
468077,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""...",2002,NaN,NaN,F,NaN,NaN,Wendy Anderson,NaN,/m/0gcp8fv
468078,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""...",2002,NaN,NaN,NaN,NaN,NaN,Ariel Bastian,NaN,/m/0gdkb51
468079,12476867,/m/02w7zz8,Spliced,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0d060g"": ""Canada""}","{""/m/01jfsb"": ""Thriller"", ""/m/03npn"": ""Horror""...",2002,NaN,NaN,NaN,NaN,NaN,Jared Van Snellenberg,NaN,/m/0gdndlw

#### Check of the amount of full release data in the merged dataset

In [9]:
# Define a function to check release date completeness
def is_complete_date(date):
    if pd.isna(date):
        return False
    elif len(str(date)) == 10:
        return True
    else:
        return False

# Count the number of movies with complete release date and year-only release date for movieDF
complete_date_count_movieDF = 0
year_only_count_movieDF = 0
for date in movieDF['Movie release date'].astype(str):
    if is_complete_date(date):
        complete_date_count_movieDF += 1
    elif len(str(date)) == 4:
        year_only_count_movieDF += 1

# Calculate the percentage of movies with complete release date for movieDF
total_count_movieDF = complete_date_count_movieDF + year_only_count_movieDF
if total_count_movieDF > 0:
    percentage_movieDF = (complete_date_count_movieDF / total_count_movieDF) * 100
    print(f"{percentage_movieDF:.2f}% of movies in movieDF have a complete release date.")
else:
    print("No movies found in movieDF.")

# Count the number of movies with complete release date and year-only release date for movie_characterDF
complete_date_count_merged = 0
year_only_count_merged = 0
for date in movie_characterDF['Release Date'].astype(str):
    if is_complete_date(date):
        complete_date_count_merged += 1
    elif len(str(date)) == 4:
        year_only_count_merged += 1

# Calculate the percentage of movies with complete release date for movie_characterDF
total_count_merged = complete_date_count_merged + year_only_count_merged
if total_count_merged > 0:
    percentage_merged = (complete_date_count_merged / total_count_merged) * 100
    print(f"{percentage_merged:.2f}% of movies in movie_characterDF have a complete release date.")
else:
    print("No movies found in movie_characterDF.")

55.03% of movies in movieDF have a complete release date.

KeyError: 'Release Date'

#### Check of the amount of missing release date in the merged dataset

In [ ]:
# Count the number of movies with complete release date and year-only release date
complete_date_count = 0
year_only_count = 0
nan_count = 0
for date in movieDF['Movie release date'].astype(str):
    if len(date) == 10:
        complete_date_count += 1
    elif len(date) == 4:
        year_only_count += 1
    elif date == 'nan':
        nan_count += 1

# Calculate the percentage of movies with complete release date
total_count = complete_date_count + year_only_count + nan_count
if total_count > 0:
    percentage = (nan_count / total_count) * 100
    print(f"{percentage:.2f}% of movies have NaN values in the 'Movie release date' movieDF column.")
else:
    print("No movies found in the dataset.")
    
# Count the number of movies with complete release date and year-only release date
complete_date_count = 0
year_only_count = 0
nan_count = 0
for date in movie_characterDF['Release Date'].astype(str):
    if len(date) == 10:
        complete_date_count += 1
    elif len(date) == 4:
        year_only_count += 1
    elif date == 'nan':
        nan_count += 1

# Calculate the percentage of movies with complete release date
total_count = complete_date_count + year_only_count + nan_count
if total_count > 0:
    percentage = (nan_count / total_count) * 100
    print(f"{percentage:.2f}% of movies have NaN values in the 'Release date'  movie_characterDF column.")
else:
    print("No movies found in the dataset.")

In [ ]:
# Extract the year from the 'Release Date' column and create a new column for the year
movie_characterDF['Year'] = movie_characterDF['Release Date'].str[:4]

# Get the percentage of films released each year
year_counts = movie_characterDF['Year'].value_counts().sort_index()
total_films = year_counts.sum()
year_percentages = (year_counts / total_films) * 100

# Create a line plot of film release years
lineplot = px.line(x=year_percentages.index, y=year_percentages.values, title='Percentage of Films Released Each Year')

# Create a subplot with the scatter plot and line plot
fig = make_subplots(rows=1, cols=1, shared_xaxes=True, vertical_spacing=0.1, subplot_titles=("Percentage of Films Released Each Year", ""))
fig.add_trace(lineplot['data'][0], row=1, col=1)

# Update the layout of the subplot
fig.update_xaxes(title_text="Year", row=1, col=1)
fig.update_yaxes(title_text="Percentage of Films (%)", row=1, col=1)


# Show the subplot
fig.show()

#### Graph of the estimated full release date percent each year

In [ ]:
# Add a new column named "Release State Form"
movie_characterDF['Release Date State'] = movie_characterDF['Release Date'].str.len()
movie_characterDF['Release Date State'] = movie_characterDF['Release Date State'].replace(10.0, 'Full')
movie_characterDF['Release Date State'] = movie_characterDF['Release Date State'].replace(4.0, 'Year')

# Count the number of movies with complete release date and year-only release date for each year
complete_date_counts = {}
year_only_counts = {}
for year in movie_characterDF['Year'].unique():
    complete_date_counts[year] = 0
    year_only_counts[year] = 0
    for date in movie_characterDF[movie_characterDF['Year'] == year]['Release Date'].astype(str):
        if len(date) == 10:
            complete_date_counts[year] += 1
        elif len(date) == 4:
            year_only_counts[year] += 1

# Calculate the percentage of movies with complete release date for each year
year_percentages = {}
for year in movie_characterDF['Year'].unique():
    total_count = complete_date_counts[year] + year_only_counts[year]
    if total_count > 0:
        year_percentages[str(year)] = (complete_date_counts[year] / total_count) * 100
    else:
        year_percentages[str(year)] = 0

# Sort the years in ascending order
sorted_years = sorted(year_percentages.keys())

# Create a line plot of the percentage of movies with complete release date for each year
lineplot = px.line(x=sorted_years, y=[year_percentages[year] for year in sorted_years], title='Percentage of Movies with Complete Release Date Each Year')

# Create a subplot with the line plot
fig = make_subplots(rows=1, cols=1, shared_xaxes=True, vertical_spacing=0.1, subplot_titles=("Percentage of Movies with Complete Release Date Each Year", ""))
fig.add_trace(lineplot['data'][0], row=1, col=1)

# Update the layout of the subplot
fig.update_xaxes(title_text="Year", row=1, col=1)
fig.update_yaxes(title_text="Percentage of Movies with Complete Release Date (%)", row=1, col=1)

# Show the subplot
fig.show()

In [ ]:
# Add a new column named "Release State Form"
movie_characterDF['Release Date State'] = movie_characterDF['Release Date'].str.len()
movie_characterDF['Release Date State'] = movie_characterDF['Release Date State'].replace(10.0, 'Full')
movie_characterDF['Release Date State'] = movie_characterDF['Release Date State'].replace(4.0, 'Year')

# Count the number of movies with complete release date and year-only release date for each year
complete_date_counts = {}
partial_date_counts = {}
low_date_counts = {}
nan_date_counts = {}
year_only_counts = {}
for year in movie_characterDF['Year'].unique():
    complete_date_counts[year] = 0
    partial_date_counts[year] = 0
    low_date_counts[year] = 0
    nan_date_counts[year] = 0
    for date in movie_characterDF[movie_characterDF['Year'] == year]['Release Date'].astype(str):
        if len(date) == 10:
            complete_date_counts[year] += 1
        elif len(date) == 7:
            partial_date_counts[year] += 1
        elif len(date) == 4:
            low_date_counts[year] += 1
        else:
            nan_date_counts[year] += 1


# Calculate the percentage of movies with complete release date for each year
complete_year_percentages = {}
for year in movie_characterDF['Year'].unique():
    total_count = complete_date_counts[year] + partial_date_counts[year] + low_date_counts[year]
    if total_count > 0:
        complete_year_percentages[str(year)] = (complete_date_counts[year] / total_count) * 100
    else:
        complete_year_percentages[str(year)] = 0

# Calculate the percentage of movies with partial release date for each year
partial_year_percentages = {}
for year in movie_characterDF['Year'].unique():
    total_count = complete_date_counts[year] + partial_date_counts[year] + low_date_counts[year]
    if total_count > 0:
        partial_year_percentages[str(year)] = (partial_date_counts[year] / total_count) * 100
    else:
        partial_year_percentages[str(year)] = 0
        
# Calculate the percentage of movies with low release date for each year
low_year_percentages = {}
for year in movie_characterDF['Year'].unique():
    total_count = complete_date_count
    if total_count > 0:
        low_year_percentages[str(year)] = (low_date_counts[year] / total_count) * 100
    else:
        low_year_percentages[str(year)] = 0

# Calculate the percentage of movies with NaN release date for each year
nan_year_percentages = {}
for year in movie_characterDF['Year'].unique():
    total_count = movie_characterDF.shape[0]
    if total_count > 0:
        nan_year_percentages[str(year)] = (nan_date_counts[year] / total_count) * 100
    else:
        nan_year_percentages[str(year)] = 0

# Sort the years in ascending order
sorted_complete_years = sorted(complete_year_percentages.keys())
sorted_partial_years = sorted(partial_year_percentages.keys())
sorted_low_years = sorted(low_year_percentages.keys())
sorted_nan_years = sorted(nan_year_percentages.keys())

df_to_plot = pd.DataFrame({'Year': sorted_complete_years, 'Complete': [complete_year_percentages[year] for year in sorted_complete_years], 'Partial': [partial_year_percentages[year] for year in sorted_partial_years], 'Low': [low_year_percentages[year] for year in sorted_low_years], 'NaN': [nan_year_percentages[year] for year in sorted_nan_years]})

# Create a line plot of the percentage of movies with color for Complete, Partial
lineplot = px.line(df_to_plot, x='Year', y=['Complete', 'Partial', 'Low', 'NaN'], title='Percentage of Movies with Complete Release Date Each Year')

# Create a single plot with multiple lines representing the percentage of movies with complete, partial, low, and NaN release date for each year
# lineplot = px.line(x=sorted_complete_years, y=[complete_year_percentages[year] for year in sorted_complete_years], title='Percentage of Movies with Complete Release Date Each Year')
# lineplot.add_scatter(x=sorted_partial_years, y=[partial_year_percentages[year] for year in sorted_partial_years], name='Partial')
# lineplot.add_scatter(x=sorted_low_years, y=[low_year_percentages[year] for year in sorted_low_years], name='Low')
# lineplot.add_scatter(x=sorted_nan_years, y=[nan_year_percentages[year] for year in sorted_nan_years], name='NaN')

# Create a subplot with the line plot
fig = make_subplots(rows=1, cols=1, shared_xaxes=True, vertical_spacing=0.1, subplot_titles=("Percentage of Movies with Complete Release Date Each Year", ""))
fig.add_trace(lineplot['data'][0], row=1, col=1)

# Update the layout of the subplot
fig.update_xaxes(title_text="Year", row=1, col=1)
fig.update_yaxes(title_text="Percentage of Movies with Complete Release Date (%)", row=1, col=1)

# Show the subplot
fig.show()

In [ ]:
# Merge 'Movie release date_x' and 'Movie release date_y' columns on 'Movie release date'
movie_characterDF['Movie release date'] = movie_characterDF[['Movie release date_x', 'Movie release date_y']].apply(lambda x: x[0] if pd.notnull(x[0]) else x[1], axis=1)

# Create a new DataFrame with only unique Freebase movie ID and the columns of 'Movie release date' and 'Year State'
unique_movies = movie_characterDF[['Freebase movie ID', 'Movie release date']].drop_duplicates(subset=['Freebase movie ID'])

# Add a column depending on the year state
unique_movies['Year State'] = unique_movies['Movie release date'].apply(lambda x: 'Full' if isinstance(x, str) and len(x) == 10 else ('Partial' if isinstance(x, str) and len(x) > 4 else ('Year' if isinstance(x, str) and len(x) == 4 else 'NaN')))

unique_movies['Year'] = unique_movies['Movie release date'].str[:4].astype(float)
unique_movies['Month'] = unique_movies['Movie release date'].apply(lambda x: float(x[5:7]) if isinstance(x, str) and len(x) >= 7 else None)

percent_num_months = unique_movies['Month'].count() / unique_movies.shape[0] * 100
print(percent_num_months)

In [ ]:
# Number of periods 
num_periods = 10

# Define the bins for the histogram
bins = np.linspace(unique_movies['Month'].min()-1, unique_movies['Month'].max(), num_periods+1)

# Cut the 'Month' column into 4 periods based on the bins
unique_movies['Period {}'.format(num_periods)] = pd.cut(unique_movies['Month'], bins=bins, labels=['Period {}'.format(i) for i in range(1, num_periods+1)])

# Calculate the percentage of films released in each period
period_counts = unique_movies['Period {}'.format(num_periods)].value_counts(normalize=True) * 100

# Create a bar chart of film releases by period using Plotly
fig = px.bar(x=period_counts.index, y=period_counts.values, labels={'x': 'Period', 'y': 'Percentage of Films (%)'}, title='Percentage of Films Released in Each Period')

# Set the order of the x-axis categories
fig.update_xaxes(categoryorder='array', categoryarray=['Period {}'.format(i) for i in range(1, num_periods+1)])

# Show the plot
fig.show()

In [ ]:
import pandas as pd
from plotly.subplots import make_subplots
import plotly.graph_objects as go

# Add a new column named "Release State Form"
movie_characterDF['Release Date State'] = movie_characterDF['Release Date'].str.len()

# Replace specific release date lengths with corresponding labels
movie_characterDF['Release Date State'] = movie_characterDF['Release Date State'].replace({
    10.0: 'Full',
    7.0: 'Partial',
    4.0: 'Low'
})

# Count the number of movies for each release date length and year
release_date_counts = {}
for release_date_state in movie_characterDF['Release Date State'].unique():
    release_date_counts[release_date_state] = {}
    for year in movie_characterDF['Year'].unique():
        release_date_counts[release_date_state][year] = 0
        for date in movie_characterDF[movie_characterDF['Year'] == year]['Release Date'].astype(str):
            if len(date) == (10 if release_date_state == 'Full' else (7 if release_date_state == 'Partial' else 4)):
                release_date_counts[release_date_state][year] += 1

# Calculate the percentage of movies for each release date length and year
year_percentages = {}
for release_date_state in movie_characterDF['Release Date State'].unique():
    year_percentages[release_date_state] = {}
    for year in movie_characterDF['Year'].unique():
        total_count = sum(release_date_counts[release_date_length][year] for release_date_length in release_date_counts)
        if total_count > 0:
            year_percentages[release_date_state][year] = (release_date_counts[release_date_state][year] / total_count) * 100
        else:
            year_percentages[release_date_state][year] = 0

# Sort the years in ascending order
sorted_years = sorted(year_percentages[list(year_percentages.keys())[0]].keys())

# Create line plots for each release date length
line_plots = []
for release_date_state in movie_characterDF['Release Date State'].unique():
    line_plots.append(go.Scatter(
        x=sorted_years,
        y=[year_percentages[release_date_state][year] for year in sorted_years],
        name=release_date_state,
        mode='lines+markers'
    ))

# Create a subplot with the line plots
fig = make_subplots(rows=1, cols=1, shared_xaxes=True, vertical_spacing=0.1)
fig.add_traces(line_plots)

# Update the layout of the subplot
fig.update_xaxes(title_text="Year", row=1, col=1)
fig.update_yaxes(title_text="Percentage of Movies (%)", row=1, col=1)

# Show the subplot
fig.show()

In [ ]:
display(movie_characterDF)

In [ ]:


# Create a dictionary to store the number of films released in each period
period_release_counts = {}
for period in range(1, 13):
    period_release_counts[period] = (
        full_release_films[full_release_films['Release Date'].dt.month == period].count()
    )

# Create the plot
plt.figure(figsize=(10, 6))
plt.bar(list(period_release_counts.keys()), list(period_release_counts.values()), color="#222222")
plt.xlabel("Period (Month)")
plt.ylabel("Number of Films Released")
plt.title("Number of Films Released by Period (Full Release Date State)")
plt.xticks(range(1, 13), ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"])
plt.grid(axis='y', linestyle='--', alpha=0.7)
plt.show()

# Creation of a pertinent metric to evaluate a pool of movies

In [ ]:
"""Créer un dictionnaire référence pour les USA, de la forme 
{'par':[récapitulatif parité]
 'age':[récapitulatif de l'histogramme des ages]
 'div':[récalitulatif ethnicité]
 'hei':[récapitulatif taille]
 ''}"""

def parity(pool, ref=ref_usa['parity']):
    freq_men = 0
    freq_women = 1-freq_men
    return 1-(freq_men-freq_women)^2

def age_score(pool, ref=usa_ref[age]):
    """
    function to evaluate the difference between the age distribution of the actors in the movie
    and the real distribution.
    IDEAS : do the histogram area difference, but also penalize too high representation of some ages ?
    
    Arguments
        pool = dataframe containing the pool of movie that will be scored
        ref = tool containing the reference for age distribution
        
    Outputs
        age_sc = unitarized age score evaluation. If equal 1, the distribution is exactly the ref
    
    """
    
    age_sc = 0
    
    return age_sc


def diversity_score(pool, ref=usa_ref['diversity']):
    """
    function to evaluate the diversity of ethnicity present in the movie.
    IDEAS :  Separate ethnicity in 5 pools (africa, Europe, Asia...), 
                evaluate the number of ethnicity in each pool. 
                If only ethnies in 1 pool, bad score, and so and so.
    
    Arguments
        pool = dataframe containing the pool of movie that will be scored
        ref = tool containing the reference for age distribution
        
    Outputs
        div_sc = unitarized age score evaluation. If equal 1, the distribution is the more diverse
    
    """
    
    div_sc = 0
    
    return div_sc

In [ ]:
##Pondération de chaque petit score
# standard weights
par_w = 1
div_w = 1
age_w = 1

st_weights=[par_w, div_w, age_w]

def representativeness_score(pool,weights=st_weights, ref=ref_usa):
    """
    Weighting and aggregation of every single score
    """
    scores=np.zeros(len(weight))
    scores[0] = par_score(pool,ref['par'])
    scores[1] = age_score(pool,ref['age'])
    scores[2] = div_score(pool,ref['div'])
    scores[3] = hei_score(pool,ref['hei'])
    
    agg_score = np.dot(weights,scores)/sum(weights)
    final_score = int(agg_score*100)
    return final score